<template>
    <div>
        <div class="back-to-pack__section">
            <div class="container">
                <div class="back-to-pack__block line">
                    <router-link to="/drop-count" type="button" class="back-to-pack__link"><i class="icon-arrow-left"></i>Leave the line</router-link>
                </div>
            </div>
        </div>
        <div class="drop-full__screen-wrapper count">
            <router-link to="/drop-redirect" style="color: #fff; position: absolute">FOR EXAMPLE</router-link>
            <div class="container">
                <div class="drop-count__container">
                    <div class="drop-count-wrapper">
                        <div class="drop-count__logo-block">
                            <img src="assets/img/logo.png" class="img-logo" alt="logo" />
                            <img
                                src="assets/img/beatokenTextLogo.svg"
                                class="text-logo"
                                alt="text-logo"
                            />
                        </div>
                        <div class="drop-count__title-block">
                            <h3>YOU ARE NOW IN LINE</h3>
                            <p class="pack-desc">
                                You are in line for BEATOKEN DROP 1 (SERIES 1, Release 1) When
                                it is your turn, you will have 20 mintunes to complete the
                                order. When its your turn, it takes up to 1 min to re-direct you
                                to complete the order.
                            </p>
                        </div>
                        <div class="drop-count__progress-block"></div>
                        <div class="drop-count__count-block">
                            <p class="user-in-line">Number of users in line ahead of you:</p>
                            <div class="event-timer__block">
                                <p class="in-line">56440</p>
                            </div>
                            <p class="status-update">
                                Status last update<span class="update-time">13:56:11</span>Copenhagen
                                time
                            </p>
                        </div>
                        <div class="message-updated__block">
                            <p class="message-update__title">
                                Message last updated:<span class="update-hour">20:03</span>
                            </p>
                            <p>Hello collector! Welcome to the queue.</p>
                            <p>There are only 12.500 packs remaining.</p>
                        </div>
                        <div class="live-line__block">
                            <router-link to="/drop-count" class="live-line__link">Leave the line</router-link>
                        </div>
                    </div>
                    <p class="queue-id">
                        Queue ID: <span>eften65759-4er-jnfcnbg-4748</span>
                    </p>
                </div>
            </div>
        </div>
        <div class="section-border"></div>
    </div>
</template>
