<template>
    <div>
        <div class="back-to-pack__section">
            <div class="container">
                <div class="back-to-pack__block line">
                    <router-link to="/drops" type="button" class="back-to-pack__link"><i class="icon-arrow-left"></i>My collection</router-link>
                </div>
            </div>
        </div>
        <div class="open-container__title">
            <div class="container">
                <p>Released<span>07.07.21</span></p>
                <h3>BASE SET 1 - DROP 1</h3>
                <p>Music card | Containing 3 music cards</p>
            </div>
        </div>
        <main class="drop-full__screen-wrapper" style="margin-bottom:2rem">
            <div class="container">
                <div class="open-block">
                    <img src="assets/img/drop-pack.png" alt="pack-img" />
                    <a href="#" class="open-pack">Open pack</a>
                </div>
            </div>
        </main>
        <div class="section-border"></div>
    </div>
</template>
