<template>
    <div>
        <div class="back-to-pack__section">
            <div class="container">
                <div class="back-to-pack__block line">
                    <router-link to="/drop-join" type="button" class="back-to-pack__link"><i class="icon-arrow-left"></i>Leave the line</router-link>
                </div>
            </div>
        </div>
        <div class="drop-full__screen-wrapper count">
            <router-link to="/drop-list" style="color: #fff; position: absolute">FOR EXAMPLE</router-link>
            <div class="container">
                <div class="drop-count__container">
                    <div class="drop-count-wrapper">
                        <div class="drop-count__logo-block">
                            <img src="assets/img/logo.png" class="img-logo" alt="logo" />
                            <img
                                src="assets/img/beatokenTextLogo.svg"
                                class="text-logo"
                                alt="text-logo"
                            />
                        </div>
                        <div class="drop-count__title-block">
                            <h3>BASE SET DROP 1</h3>
                            <p class="pack-sale"><span>1500</span> total packs for sale</p>
                            <p class="pack-desc">
                                Beatoken pack (drop 1) has not yey begun. When it begins, you
                                will be assigned a random place in the line. Alongside side
                                everyone els who arrives before the drop.
                            </p>
                        </div>
                        <div class="drop-count__count-block">
                            <img src="assets/img/drop-pack.png" alt="drop-pack-img" />
                            <p class="event-start">
                                This event will begin at:<span>20:00</span>
                            </p>
                            <div class="event-timer__block">
                                <div class="timer">
                                    <!-- <p class="hours"></p> -->
                                    <p>Open</p>
                                </div>
                            </div>
                            <p class="status-update">
                                Status last update<span class="update-time">21:21:30</span>Copenhagen
                                time
                            </p>
                        </div>
                    </div>
                    <p class="queue-id">
                        Queue ID: <span>eften65759-4er-jnfcnbg-4748</span>
                    </p>
                </div>
            </div>
        </div>
        <div class="section-border"></div>
    </div>
</template>
