<template>
    <div>
        <div class="header-drop">
            <div class="how-to-action drop">
                <div class="how-toBg"></div>
                <h3 class="visually-hidden">Highlighted Drops</h3>
                <div class="container">
                    <h2 class="section-drop-title">Highlighted Drop</h2>
                    <div class="sets-block">
                        <div class="set set-one">
                            <div class="bg-txt"></div>
                            <div class="set-block">
                                <div class="set-one__txt">
                                    <span class="set-state">Now available</span>
                                    <h3>
                                        Base set
                                        <span>(Drop 1)</span>
                                    </h3>

                                    <p class="common">Common | Contains<span> 5 </span>cards</p>
                                </div>
                                <div class="set-one__img">
                                    <router-link to="/drop-join">
                                        <img
                                            src="assets/img/packs-small.png"
                                            class="set-img"
                                            width="190"
                                            height="224"
                                            alt="set-img"
                                        />
                                    </router-link>
                                </div>
                            </div>
                            <p class="price">Price: <span>25kr.</span></p>
                        </div>

                        <div class="set set-two">
                            <div class="bg-txt"></div>

                            <div class="set-block">
                                <div class="set-two__txt">
                                    <span class="set-state">Sold out</span>
                                    <h3>
                                        Holo set
                                        <span>(Drop 2)</span>
                                    </h3>
                                    <p>Common gold</p>
                                    <p class="common">Contains <span>3</span> cards</p>
                                </div>
                                <div class="set-two__img">
                                    <router-link to="/drop-join">
                                        <img
                                            src="assets/img/set-img.png"
                                            class="set-img"
                                            width="110"
                                            height="121"
                                            alt="set-img"
                                        />
                                    </router-link>
                                </div>
                            </div>
                            <p class="price">Price: <span>25kr.</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <section class="section-open-packs">
            <h3 class="visually-hidden">Open packs to find exciting new moments</h3>
            <div class="container">
                <h2 class="section-drop-title">
                    Open packs to find exciting new moments
                </h2>
                <div class="open-packs__container">
                    <div class="row">
                        <div class="open-packs__block item col-lg-4">
                            <h3>When do new drops happen?</h3>
                            <p>
                                Bullet text 1 During our Beta, drop times will vary, so make
                                sure you watch for announcements. Info text to bullet.
                            </p>
                        </div>
                        <div class="open-packs__block col-lg-4">
                            <h3>Where are drop announcements?</h3>
                            <p>
                                Sign up via email and recieve our newsletter to never miss a
                                drop
                            </p>
                        </div>
                        <div class="open-packs__block col-lg-4">
                            <h3>What about sold out packs?</h3>
                            <p>
                                You can still snag Moments from the packs in the
                                <a href="#">Marketplace</a> from other collectors
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section-packs">
            <h3 class="visually-hidden">Packs</h3>
            <div class="container">
                <div class="featured-packs">
                    <div class="packs-title">
                        <h3 class="section-drop-title">Featured packs</h3>
                    </div>
                    <ul class="packs-list">
                        <li class="pack-item">
                            <div class="img-pack">
                                <img
                                    src="assets/img/packs-small.png"
                                    width="197"
                                    height="192"
                                    alt="pack-img"
                                />
                            </div>

                            <h3 class="pack-title">Base Set</h3>
                            <span class="pack-set">Drop 1</span>
                            <p class="pack-price">25 <span>kr.</span></p>
                            <p class="pack-quantity left">460 <span>left</span></p>
                        </li>
                        <li class="pack-item">
                            <div class="img-pack">
                                <img
                                    src="assets/img/packs-small.png"
                                    width="197"
                                    height="192"
                                    alt="pack-img"
                                />
                            </div>

                            <h3 class="pack-title">Base Set</h3>
                            <span class="pack-set">Drop 1</span>
                            <p class="pack-price">25 <span>kr.</span></p>
                            <p class="pack-quantity left">460 <span>left</span></p>
                        </li>
                        <li class="pack-item">
                            <div class="img-pack">
                                <img
                                    src="assets/img/packs-small.png"
                                    width="197"
                                    height="192"
                                    alt="pack-img"
                                />
                            </div>

                            <h3 class="pack-title">Base Set</h3>
                            <span class="pack-set">Drop 1</span>
                            <p class="pack-price">25 <span>kr.</span></p>
                            <p class="pack-quantity left">460 <span>left</span></p>
                        </li>
                        <li class="pack-item">
                            <div class="img-pack">
                                <img
                                    src="assets/img/packs-small.png"
                                    width="197"
                                    height="192"
                                    alt="pack-img"
                                />
                            </div>

                            <h3 class="pack-title">Base Set</h3>
                            <span class="pack-set">Drop 1</span>
                            <p class="pack-price">25 <span>kr.</span></p>
                            <p class="pack-quantity left">460 <span>left</span></p>
                        </li>
                    </ul>
                </div>
                <div class="previous-packs">
                    <div class="packs-title">
                        <h3 class="section-drop-title">Previous packs</h3>
                        <p>
                            These packs have been flying off the shelves. But, don’t worry,
                            you can start hunting for specific Moments on the marketplace
                            now!
                        </p>
                    </div>
                    <ul class="packs-list previous-list">
                        <li class="pack-item">
                            <div class="img-pack">
                                <img
                                    src="assets/img/packs-small.png"
                                    width="197"
                                    height="192"
                                    alt="pack-img"
                                />
                            </div>

                            <h3 class="pack-title">Base Set</h3>
                            <span class="pack-set">Drop 1</span>
                            <p class="pack-price">25 <span>kr.</span></p>
                            <p class="pack-quantity sold">460 <span>sold out</span></p>
                        </li>
                        <li class="pack-item">
                            <div class="img-pack">
                                <img
                                    src="assets/img/packs-small.png"
                                    width="197"
                                    height="192"
                                    alt="pack-img"
                                />
                            </div>

                            <h3 class="pack-title">Base Set</h3>
                            <span class="pack-set">Drop 1</span>
                            <p class="pack-price">25 <span>kr.</span></p>
                            <p class="pack-quantity sold">460 <span>sold out</span></p>
                        </li>
                        <li class="pack-item">
                            <div class="img-pack">
                                <img
                                    src="assets/img/packs-small.png"
                                    width="197"
                                    height="192"
                                    alt="pack-img"
                                />
                            </div>

                            <h3 class="pack-title">Base Set</h3>
                            <span class="pack-set">Drop 1</span>
                            <p class="pack-price">25 <span>kr.</span></p>
                            <p class="pack-quantity sold">460 <span>sold out</span></p>
                        </li>
                        <li class="pack-item">
                            <div class="img-pack">
                                <img
                                    src="assets/img/packs-small.png"
                                    width="197"
                                    height="192"
                                    alt="pack-img"
                                />
                            </div>

                            <h3 class="pack-title">Base Set</h3>
                            <span class="pack-set">Drop 1</span>
                            <p class="pack-price">25 <span>kr.</span></p>
                            <p class="pack-quantity sold">460 <span>sold out</span></p>
                        </li>
                    </ul>
                    <div class="button-block">
                        <button class="view-more">View more</button>
                    </div>
                </div>
            </div>
        </section>
    </div>
</template>
