<template>
    <div>
        <section class="back-to-pack__section">
            <div class="container">
                <div class="back-to-pack__block">
                    <router-link to="/drops" type="button" class="back-to-pack__link"><i class="icon-arrow-left"></i>Back to pack</router-link>
                </div>
            </div>
        </section>
        <div class="drop-main__container">
            <div class="container">
                <div class="drop-main__wrapper">
                    <div class="drop-main__header">
                        <div class="drop-header__img-block">
                            <img
                                src="assets/img/drop-pack.png"
                                width="409"
                                height="465"
                                alt="pack-img"
                            />
                        </div>
                        <div class="drop-main__aside">
                            <div class="aside-title__block">
                                <span class="set-state border-gradient-purple">Now on sale</span>
                                <h2 class="aside-pack__title">BASE SET DROP 1</h2>
                                <p class="total-for-sale">
                                    <span>1500</span> total packs for sale
                                </p>
                                <p class="pack-desc">
                                    Join the drop in advance of the drop time and you’ll have a
                                    chance to be in place first in line to buy the new pack.
                                    Join after the drop time and you’ll be added to the end of
                                    the line.
                                </p>
                            </div>
                            <div class="aside-count__block">
                                <div class="pack-sum">
                                    <p>1 pack with 3 cards</p>
                                    <p class="pack-sum-left"><span>560</span>left</p>
                                </div>
                                <p class="pack-price"><span>25</span>kr.</p>
                                <form action="#" class="quantity-form">
                                    <div class="quantity-container">
                                        <p class="quantity">Quantity</p>
                                        <div class="quantity-input__block sum">
                                            <p><span>1</span>/<span>3</span></p>
                                        </div>
                                    </div>
                                    <router-link to="/drop-count">
                                        <!-- FOR EXAMPLE, MUST BE DElETED TAG a -->
                                        <button type="submit" class="join-button" style="color: #fff">Buy pack now</button>
                                        <!--  -->
                                    </router-link>
                                </form>
                            </div>
                            <div class="aside-logo__block">
                                <img src="assets/img/logo.png" width="42" height="42" alt="" />
                                <div class="logo-txt">
                                    <span>Sold by</span>
                                    <p>Beatoken</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="drop-details__block">
                        <p class="details-block__title">Pack details</p>
                        <div class="details-desc__block">
                            <p class="details-desc__title">
                                Detail text about pack. Detail text about pack.
                            </p>

                            <p class="txt">
                                Let the final countdown begin: The fourth drop of four from
                                the Cool Cats set touches down on Thursday, April 15 at 11 AM
                                PDT. An NBA Top Shot nod to CryptoKitties, the Dapper Labs
                                project that came before it, Cool Cats has become a defining
                                common set in Series 2 with a drop per month since January and
                                the much-anticipated LaMelo Ball Master Challenge.
                            </p>
                            <p class="txt">
                                A total of 92,500 packs will be made available to collectors
                                in this pack drop. 7,500 packs will be withheld for community
                                giveaways, customer service and promotional purposes.
                            </p>
                            <p class="txt">
                                Please note that while we offered Base Set Rebound packs for
                                collectors in line who were unable to get a Holo Icon pack in
                                Monday's drop, there will be no Rebound packs available in
                                this particular drop.
                            </p>

                            <p class="details-desc__title">Key Stats</p>
                            <ul>
                                <li>Pack cost: $14</li>
                                <li>Moments Per Pack: 5</li>
                                <li>Drops: 11 AM PDT, Thursday, April 15</li>
                                <li>Rebound packs: 0</li>
                                <li>Packs per collector: 1</li>
                            </ul>

                            <p class="details-desc__title">Notes</p>
                            <ul>
                                <li>
                                    - Loading Dapper Balance for this pack drop does not
                                    guarantee you’ll be able to purchase given high demand. We
                                    will not reimburse deposits under any circumstances.
                                </li>
                                <li>
                                    - If you are concerned about your bank blocking
                                    transactions, please contact them in advance to safelist us.
                                </li>
                                <li>
                                    - Packs are fully randomized. Some collectors may receive
                                    multiple Moments of the same play, with a different serial
                                    number.
                                </li>
                                <li>
                                    - Do not run more than one instance of the queue. Joining
                                    the queue on multiple devices or tabs is prohibited.
                                </li>
                                <li>
                                    - Do not use VPNs, or credit cards belonging to someone
                                    else. This may affect your ability to purchase.
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-border"></div>
    </div>
</template>
