<template>
    <footer class="footer">
        <div class="container">
            <div class="footer-row">
                <div class="footer-logo__block">
                    <img
                        src="assets/img/beatokenLogo.svg"
                        width="285"
                        height="52"
                        alt="logo"
                    />
                </div>
                <div class="footer-column">
                    <p class="footer-links__title footer-links__btn" @click="linksStacksToggler">
                        Stacks <i class="icon-down-open"></i>
                    </p>
                    <div class="footer-links" v-bind:class="{ 'open': isOpenStacks }">
                        <a href="#">Discover</a>
                        <a href="#">Connect wallet</a>
                        <a href="#">Create item</a>
                    </div>
                </div>
                <div class="footer-column">
                    <p class="footer-links__title footer-links__btn" @click="linksInfoToggler">
                        Info <i class="icon-down-open"></i>
                    </p>
                    <div class="footer-links" v-bind:class="{ 'open': isOpenInfo }">
                        <a href="#">Download</a>
                        <a href="#">Demos</a>
                        <a href="#">Support</a>
                    </div>
                </div>
                <div class="footer-column footer-join__block">
                    <p class="footer-links__title">Join Newsletter</p>
                    <form>
                        <div class="mb-3">
                            <label for="inputEmail" class="form-label"
                            >Subscribe our newsletter to get more free design course and
                                resource</label
                            >
                            <div class="input-block">
                                <input
                                    type="email"
                                    class="form-control newsletter"
                                    id="inputEmail"
                                    placeholder="Enter your email"
                                    aria-describedby="emailHelp"
                                />
                                <button type="submit" class="btn btn-primary">
                                    <img src="assets/img/icons-Arrow Right 2-Line_6.svg" alt="" />
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="copyright">
                <p>Copyright © 2021 BEATOKEN. All rights reserved</p>
                <div class="accept">
                    <p>We use cookies for better service.</p>
                    <a href="#">Accept</a>
                </div>
            </div>
        </div>
    </footer>
</template>

<script>
export default {
    name: 'Footer',
    data() {
        return {
            isOpenStacks: false,
            isOpenInfo: false
        }
    },
    methods: {
        linksStacksToggler() {
            this.isOpenStacks = !this.isOpenStacks
        },
        linksInfoToggler() {
            this.isOpenInfo = !this.isOpenInfo
        }
    }
}
</script>
