<template>
    <nav class="navbar">
        <div class="container">
            <div class="nav-container">
                <router-link class="navbar-brand" to="/">
                    <img src="assets/img/logo.png" class="img-logo" alt="logo" />
                    <img src="assets/img/beatokenTextLogo.svg" class="text-logo" alt="..."/>
                </router-link>

                <div class="nav-collapse" v-bind:class="{ 'nav-active': isMobile }">
                    <div class="nav-collapse__main">
                        <ul class="navbar-list main">
                            <li class="nav-item" @click="isMobile = false">
                                <router-link class="nav-link" aria-current="page" to="/drops">Drops</router-link>
                            </li>
                            <li class="nav-item" @click="isMobile = false">
                                <router-link class="nav-link" to="/">Marketplace </router-link>
                            </li>
                            <li class="nav-item" @click="isMobile = false">
                                <router-link class="nav-link" to="/">How it works </router-link>
                            </li>
                        </ul>
                        <ul class="navbar-list registration" v-if="!user.id">
                            <li class="nav-item" @click="isMobile = false">
                                <router-link class="nav-link" to="/">Create</router-link>
                            </li>
                            <li class="nav-item" @click="isMobile = false">
                                <router-link class="nav-link" to="/login">Log in</router-link>
                            </li>
                            <li class="nav-item" @click="isMobile = false">
                                <router-link class="nav-link sign-up" to="/signup">Sign up</router-link>
                            </li>
                        </ul>
                        <ul class="navbar-list registration" v-else>
                            <li class="nav-item user-avatar__item-menu">
                                <span class="nav-link user-avatar__link"><img @click="dropDownToggler" src="assets/img/user-avatar.png" class="user-avatar" alt="user-avatar"></span>
                                <div class="user-dropdown__menu" v-bind:class="{ 'active': dropDown }">
                                    <p class="user-name">{{user.name}}</p>
                                    <span class="user-nickname">@august</span>
                                    <ul>
                                        <li><a href="#" class="user-link__balance"><img src="assets/img/logo.png" alt="logo" /> My balance</a></li>
                                        <li><router-link @click="isMobile = false" to="/logged">My profile</router-link></li>
                                        <li><a href="#">Settings</a></li>
                                        <li @click="logout"><router-link to="/">Sign out</router-link></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="nav-collapse__button-close">
                        <img
                            src="assets/img/button-close.svg"
                            class="button-close"
                            alt="-button-close"
                            @click="mobileNavToggler"
                        />
                    </div>
                </div>
                <img src="assets/img/nav-icon.svg" class="nav-icon" alt="..." @click="mobileNavToggler" />
            </div>
        </div>
    </nav>
</template>

<script>
    export default {
        name: 'Header',
        data() {
            return {
                user: {},
                isMobile: false,
                dropDown: false
            }
        },
        created() {
            if(this.$store.state.users.token) {
                this.user = this.$store.state.users.user
            }
        },
        methods: {
            mobileNavToggler() {
                this.isMobile = !this.isMobile
            },
            dropDownToggler() {
                console.log('dropDownToggler')
                this.dropDown = !this.dropDown
            },
            logout() {
                this.$store.dispatch('users/logout')
                this.user = {}
            }
        }
    }
</script>
