<template>
    <div>
        <div class="main-header">
            <div class="container">
                <div class="header-wrapper">
                    <div class="header-title__block">
                        <p class="sup-title">The new generation is here</p>
                        <h1>Music NFT Marketplace</h1>
                        <p class="sub-title">
                            Create, sell and discover unique music
                            <span>and sound NFTs on the Beatoken&trade; marketplace.</span>
                        </p>
                    </div>
                    <div class="header-buttons__block">
                        <router-link to="/" class="start-collection__btn">Start your collection</router-link>
                        <div class="powered-by__block">
                            <img src="assets/img/powerred.png" alt="powered-icon" />
                            <p>Powered by Dapper Labs Build on the Blockchain</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="abstraction-img"></div>
            <div class="header-bg"></div>
        </div>

        <section class="how-to-action">
            <div class="how-toBg"></div>
            <h3 class="visually-hidden">How to get the action</h3>
            <div class="container">
                <div class="cards-list">
                    <div class="row">
                        <div class="card-list__block col-sm-12 col-md-4 col-xl-4">
                            <router-link to="drops" class="card-item">
                                <p class="card-sup__title">Grab & open</p>
                                <p class="card-title">Packs</p>
                                <img src="assets/img/packs.png" alt="packs-img" />
                            </router-link>
                        </div>
                        <div class="card-list__block col-sm-12 col-md-4 col-xl-4">
                            <router-link to="drops" class="card-item">
                                <p class="card-sup__title">Build a epic</p>
                                <p class="card-title">Collection</p>
                                <img src="assets/img/collection.png" alt="collection-img" />
                            </router-link>
                        </div>
                        <div class="card-list__block col-sm-12 col-md-4 col-xl-4">
                            <router-link to="drops" class="card-item">
                                <p class="card-sup__title">Win exclusive</p>
                                <p class="card-title">Rewards</p>
                                <img src="assets/img/rewards.png" alt="rewards-img" />
                            </router-link>
                        </div>
                    </div>
                </div>
            </div>

            <div class="how-to-action__title-block">
                <h2 class="section-title">How to get the action</h2>
                <p>
                    Supercharge your collection by buying packs of Beatoken Moments.
                </p>
                <p>Grab a pack and secure thisummers most coveted plays first.</p>
                <router-link to="drops" type="button" class="all-packs__link">
                    See all packs
                </router-link>
            </div>
            <div class="container sets-block__container">
                <div class="sets-block">
                    <div class="set set-one">
                        <div class="bg-txt"></div>
                        <div class="set-block">
                            <div class="set-one__txt">
                                <span class="set-state">Now available</span>
                                <h3>
                                    Base set
                                    <span>(Drop 1)</span>
                                </h3>

                                <p class="common">Common | Contains<span> 5 </span>cards</p>
                            </div>
                            <div class="set-one__img">
                                <img
                                    src="assets/img/set-img.png"
                                    class="set-img"
                                    width="158"
                                    height="231"
                                    alt="set-img"
                                />
                            </div>
                        </div>
                        <p class="price">Price: <span>25kr.</span></p>
                    </div>

                    <div class="set set-two">
                        <div class="bg-txt"></div>

                        <div class="set-block">
                            <div class="set-two__txt">
                                <span class="set-state">Sold out</span>
                                <h3>
                                    Holo set
                                    <span>(Drop 2)</span>
                                </h3>
                                <p>Common gold</p>
                                <p class="common">Contains <span> 3 </span>cards</p>
                            </div>
                            <div class="set-two__img">
                                <img
                                    src="assets/img/set-img.png"
                                    class="set-img"
                                    width="119"
                                    height="179"
                                    alt="set-img"
                                />
                            </div>
                        </div>
                        <p class="price">Price: <span>25kr.</span></p>
                    </div>
                </div>
            </div>
        </section>
        <section class="section-carousel">
            <h3 class="visually-hidden">Certified Artist</h3>
            <div class="container">
                <h2 class="section-title">Certified Artist</h2>
            </div>
            <div class="carousel-wrapper">
                <div class="carousel">
                    <VueSlickCarousel :slidesToShow="slidesToShow" :slidesToScroll="slidesToScroll" :responsive="responsive">
                        <div class="carousel-item">
                            <img src="assets/img/kesi.png" class="artist-img" alt="artist" />
                            <div class="artist-block">
                                <p class="artist-name">Prodigy</p>
                                <img src="assets/img/icon-check.svg" alt="icon-check" />
                            </div>
                            <p class="artist-status">Band</p>
                        </div>
                        <div class="carousel-item">
                            <img src="assets/img/sivas.png" class="artist-img" alt="artist" />
                            <div class="artist-block">
                                <p class="artist-name">Ivo Bobua</p>
                                <img src="assets/img/icon-check.svg" alt="icon-check" />
                            </div>
                            <p class="artist-status">Musician</p>
                        </div>
                        <div class="carousel-item">
                            <img src="assets/img/jamz.png" class="artist-img" alt="artist" />
                            <div class="artist-block">
                                <p class="artist-name">Pueblo</p>
                                <img src="assets/img/icon-check.svg" alt="icon-check" />
                            </div>
                            <p class="artist-status">Musician</p>
                        </div>
                        <div class="carousel-item">
                            <img src="assets/img/farlow.png" class="artist-img" alt="artist" />
                            <div class="artist-block">
                                <p class="artist-name">Poplavski</p>
                                <img src="assets/img/icon-check.svg" alt="icon-check" />
                            </div>
                            <p class="artist-status">Musician</p>
                        </div>
                        <div class="carousel-item">
                            <img src="assets/img/hans.png" class="artist-img" alt="artist" />
                            <div class="artist-block">
                                <p class="artist-name">Giga</p>
                                <img src="assets/img/icon-check.svg" alt="icon-check" />
                            </div>
                            <p class="artist-status">Musician</p>
                        </div>
                        <div class="carousel-item">
                            <img src="assets/img/phlake.png" class="artist-img" alt="artist-img" />
                            <div class="artist-block">
                                <p class="artist-name">Snoop</p>
                                <img src="assets/img/icon-check.svg" alt="icon-check" />
                            </div>
                            <p class="artist-status">Musician</p>
                        </div>
                    </VueSlickCarousel>
                </div>
            </div>
            <div class="section-carousel__border"></div>
        </section>
        <div class="section-border"></div>
        <section class="section-start-collection">
            <h3 class="visually-hidden">Start your collection now</h3>
            <div class="container">
                <div class="start-block">
                    <div class="start-txt__block">
                        <div class="start-txt">
                            <h2 class="section-title">Start your collection now</h2>
                            <p>
                                Beatoken is a curated NFT marketplace for rare digital music
                                collectibles.
                            </p>
                            <p>
                                Buy unique releases, live sets, remixes, and artwork from your
                                favorite artists.
                            </p>
                            <p>Sign up now to start collecting</p>
                        </div>
                        <div class="start-button__block">
                            <router-link class="sign-up" to="/signup">Sign up now</router-link>
                            <router-link class="login" to="/login">Login</router-link>
                        </div>
                    </div>
                    <div class="start-img__block">
                        <img src="assets/img/start-img-block.png" alt="" />
                    </div>
                </div>
            </div>
        </section>
    </div>
</template>

<script>
    import VueSlickCarousel from 'vue-slick-carousel'
    import 'vue-slick-carousel/dist/vue-slick-carousel.css'
    // optional style for arrows & dots
    import 'vue-slick-carousel/dist/vue-slick-carousel-theme.css'

    export default {
        name: 'Home',
        components: { VueSlickCarousel },
        data() {
            return {
                slidesToShow: 5,
                slidesToScroll: 1,
                responsive: [
                    {
                        breakpoint: 769,
                        settings: {
                            slidesToShow: 3,
                            slidesToScroll: 1
                        }
                    },
                    {
                        breakpoint: 576,
                        settings: {
                            slidesToShow: 2,
                            slidesToScroll: 1
                        }
                    }
                ]
            }
        }
    }
</script>
