<template>
    <div class="enter-container">
        <div class="enter-main" style="width:52%">
            <div class="enter-block">
                <div class="enter-block__header">
                    <img
                        src="assets/img/dapper.png"
                        width="80"
                        height="80"
                        alt="dapper-logo"
                    />
                </div>

                <div class="enter-block__body">
                    <h3 class="enter-title">Login account</h3>
                    <form @submit="login">
                        <div>
                            <label for="email">Email</label>
                            <input v-model="user.email" type="email" name="email" id="email" class="form-control input-black" />
                        </div>
                        <hr>
                        <div>
                            <label for="password">Password</label>
                            <input v-model="user.password" type="password" name="password" id="password" class="form-control input-black" />
                        </div>
                        <hr>
                        <div class="flex flex-center">
                            <button class="btn btn-primary" style="border-radius:20px;font-size:20px">Login</button>
                        </div>
                    </form>

                    <router-link to="/signup" class="already-have" style="margin-top:40px">No account yet? Sign up</router-link>

                    <p class="terms-privacy">
                        By signing in for Dapper, you acknowledge that you have read and
                        agree all applicable <a href="#">Terms of Service</a> and our
                        <a href="#">Privacy Policy</a>
                    </p>
                </div>

                <div class="enter-block__footer">
                    <a href="#">Whats is Dapper and why do i need it?</a>
                </div>
            </div>
        </div>
        <div class="section-border"></div>
        <img class="how-toBg" src="assets/img/how-to-action_BG.png" alt="bg-img" />
    </div>
</template>

<script>
export default {
    data() {
        return  {
            user: {
                email: '',
                password: ''
            }
        }
    },
    methods: {
        login(e) {
            this.$store.dispatch('users/login', this.user).then((res) => {
                window.location.href = "/";
            })

            e.preventDefault();
        }
    }
}
</script>
