<template>
    <div class="enter-container">
        <div class="enter-main">
            <div class="enter-block">
                <div class="enter-block__header">
                    <img
                        src="assets/img/dapper.png"
                        width="80"
                        height="80"
                        alt="dapper-logo"
                    />
                </div>
                <div class="enter-block__body">
                    <h3 class="enter-title">Create Dapper account</h3>
<!--                    <a href="#" class="continue continue-google">-->
<!--                        <div class="logo__img">-->
<!--                            <svg width="20" viewBox="0 0 256 262" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid" class="css-yikrym">-->
<!--                                <path d="M255.878 133.451c0-10.734-.871-18.567-2.756-26.69H130.55v48.448h71.947c-1.45 12.04-9.283 30.172-26.69 42.356l-.244 1.622 38.755 30.023 2.685.268c24.659-22.774 38.875-56.282 38.875-96.027" fill="#4285F4"></path>-->
<!--                                <path d="M130.55 261.1c35.248 0 64.839-11.605 86.453-31.622l-41.196-31.913c-11.024 7.688-25.82 13.055-45.257 13.055-34.523 0-63.824-22.773-74.269-54.25l-1.531.13-40.298 31.187-.527 1.465C35.393 231.798 79.49 261.1 130.55 261.1" fill="#34A853"></path>-->
<!--                                <path d="M56.281 156.37c-2.756-8.123-4.351-16.827-4.351-25.82 0-8.994 1.595-17.697 4.206-25.82l-.073-1.73L15.26 71.312l-1.335.635C5.077 89.644 0 109.517 0 130.55s5.077 40.905 13.925 58.602l42.356-32.782" fill="#FBBC05"></path>-->
<!--                                <path d="M130.55 50.479c24.514 0 41.05 10.589 50.479 19.438l36.844-35.974C195.245 12.91 165.798 0 130.55 0 79.49 0 35.393 29.301 13.925 71.947l42.211 32.783c10.59-31.477 39.891-54.251 74.414-54.251" fill="#EB4335"></path>-->
<!--                            </svg>-->
<!--                        </div>-->
<!--                        <p>Continue with Google</p>-->
<!--                    </a>-->
<!--                    <a href="#" class="continue using-email">-->
<!--                        <div class="logo__img">-->
<!--                            <svg-->
<!--                                width="17"-->
<!--                                height="12"-->
<!--                                viewBox="0 0 17 12"-->
<!--                                fill="#cbbfda"-->
<!--                                xmlns="http://www.w3.org/2000/svg"-->
<!--                            >-->
<!--                                <path-->
<!--                                    d="M8.17461 5.8877L14.8371 0.887695H1.72461L8.17461 5.8877Z"-->
<!--                                    class="css-1iv4boy"-->
<!--                                ></path>-->
<!--                                <path-->
<!--                                    d="M8.67467 7.65C8.53044 7.76807 8.34849 7.83019 8.16217 7.825C7.97299 7.82411 7.78904 7.7628 7.63717 7.65L0.262168 1.875C0.255059 1.95401 0.255059 2.03349 0.262168 2.1125V10.7375C0.262168 11.4279 0.821812 11.9875 1.51217 11.9875H14.7622C15.4525 11.9875 16.0122 11.4279 16.0122 10.7375V2.0875L8.67467 7.65Z"-->
<!--                                    class="css-1iv4boy"-->
<!--                                ></path>-->
<!--                            </svg>-->
<!--                        </div>-->
<!--                        <p>Sign up using email</p>-->
<!--                    </a>-->


                    <form @submit="register">
                        <div>
                            <label for="email">Email</label>
                            <input v-model="user.email" type="email" name="email" id="email" class="form-control input-black" />
                        </div>
                        <hr>
                        <div>
                            <label for="password">Password</label>
                            <input v-model="user.password" type="password" name="password" id="password" class="form-control input-black" />
                        </div>
                        <hr>
                        <div class="flex flex-center">
                            <button class="btn btn-primary" style="border-radius:20px;font-size:20px">Register</button>
                        </div>
                    </form>
                    <router-link to="/login" class="already-have" style="margin-top:40px">Already have an account? Sign in</router-link>

                    <p class="terms-privacy">
                        By signing up for Dapper, you acknowledge that you have read and
                        agree all applicable <a href="#">Terms of Service</a> and our
                        <a href="#">Privacy Policy</a>
                    </p>
                </div>
                <div class="enter-block__footer">
                    <a href="#">Whats is Dapper and why do i need it?</a>
                </div>
            </div>
        </div>
        <div class="section-border"></div>
        <img class="how-toBg" src="assets/img/how-to-action_BG.png" alt="bg-img" />
    </div>
</template>

<script>
export default {
    data() {
        return  {
            user: {
                name: '',
                email: '',
                password: ''
            }
        }
    },
    methods: {
        register(e) {
            this.$store.dispatch('users/register', this.user).then((res) => {
                window.location.href = "/login";
            })

            e.preventDefault();
        }
    }
}
</script>
