@import "config";
@import "fonts";

input-black :root {
    font-size: 16px;
}

body {
    box-sizing: border-box;

    min-width: 320px;
    max-width: 1920px;

    background-color: #161b22;
    &.full-screen {
        display: flex;
        flex-direction: column;
        height: 100vh;
    }
}

.container {
    max-width: 1151px;
}

.visually-hidden {
    visibility: hidden;
}

.section-title {
    font-family: "Shapiro 75 Heavy Wide";
    font-size: 2.375rem;
    color: $color-white;
}

.section-drop-title {
    font-family: "Shapiro 65 Light Heavy Wide";
    color: $color-white;
}

////////////
// NAVBAR //
////////////

.navbar-toggler-icon {
    background-image: url("../img/nav-icon.svg");
    border: none;
}
.navbar {
    display: flex;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;

    background-color: $color-dark-black;

    border-bottom: 1px solid $color-dark-grey;
    .nav-container {
        display: flex;
        width: 100%;
    }
    .navbar-brand {
        display: flex;
        align-self: center;

        padding-right: 46px;
        margin-right: 0;
        font-family: "Shapiro 95 Super";
        text-transform: uppercase;

        border-right: 1px solid $color-text-grey;
        .img-logo {
            width: 36px;
            height: 36px;

            margin-right: 7px;
        }
        .text-logo {
            width: 98px;
            height: auto;
        }
    }
}

.nav-collapse {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.nav-collapse__main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.nav-icon {
    display: none;
    cursor: pointer;
}

.nav-collapse__button-close {
    display: none;
    align-items: flex-start;
    justify-content: center;
    .button-close {
        cursor: pointer;

        width: 16px;
        height: 16px;
    }
}

.navbar-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    color: $color-white;
    width: 100%;
}
.navbar-list {
    display: flex;
    justify-content: space-between;

    &.main {
        margin-left: 42px;
        .nav-item {
            margin-right: 57px;
            &:last-child {
                margin-right: 0;
            }
        }
    }

    &.registration {
        align-items: center;
        .nav-item {
            margin-right: 53px;

            &:last-child {
                margin-right: 0;
            }
        }
    }
    .user-avatar__item-menu {
        position: relative;

        z-index: 1;
        .user-dropdown__menu {
            position: absolute;
            width: 221px;
            display: none;
            top: 62px;
            right: 0;

            padding: 18px 16px 20px;

            background-color: #23262e;
            border: 1px solid #353944;

            border-bottom-right-radius: 20px;
            border-bottom-left-radius: 20px;
            &.active {
                display: block;
            }
            &:before {
                content: "";
                position: absolute;
                top: -5px;
                right: 5px;
                width: 25px;
                height: 25px;
                background-color: #23262e;
                transform: rotate(45deg);
            }
            .user-name {
                padding-left: 15px;
                font-family: "Shapiro 35 Feather";
                font-size: 1.125rem;

                color: $color-white;
            }

            .user-nickname {
                padding-left: 15px;

                font-family: "Shapiro 55 Middle";
                font-size: 0.875rem;
                color: $color-text-grey;
            }
            li {
                font-family: "Shapiro 55 Middle";
                margin-bottom: 14px;
                padding-left: 15px;

                &:first-child {
                    padding-left: 0;
                }
                &:last-child {
                    margin-bottom: 0;
                }
                a {
                    width: 100%;
                    color: $color-text-grey;
                    &:hover {
                        color: $color-white;
                        transition: ease-out 0.3s;
                    }
                }
            }
            .user-link__balance {
                display: flex;
                align-items: center;

                width: 100%;

                padding: 15px 0 15px 20px;
                margin-top: 17px;

                font-size: 0.875rem;
                text-transform: uppercase;
                color: $color-white;

                background-color: #141416;
                border-radius: 20px;

                img {
                    margin-right: 5px;
                }
            }
        }
    }

    .nav-item {
        position: relative;

        .nav-link {
            padding: 0 8px;
            font-size: 0.875rem;
            color: $color-text-grey;
            font-family: "Shapiro 55 Middle";

            &.active {
                &:after {
                    content: "";

                    position: absolute;
                    left: 0;
                    bottom: -8px;

                    display: block;
                    width: 100%;
                    height: 2px;

                    background: linear-gradient(
                            90deg,
                            rgba(28, 112, 222, 1) 0%,
                            rgba(28, 112, 222, 1) 50%,
                            rgba(40, 41, 58, 1) 100%
                    );
                }
            }

            &.user-avatar__link {
                padding: 0;

                .user-avatar {
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                }
                &:after {
                    display: none;
                }
            }

            &:after {
                background: none repeat scroll 0 0 transparent;
                bottom: -8px;
                content: "";
                display: block;
                height: 2px;
                left: 50%;
                position: absolute;
                background: linear-gradient(
                        90deg,
                        rgba(28, 112, 222, 1) 0%,
                        rgba(28, 112, 222, 1) 50%,
                        rgba(40, 41, 58, 1) 100%
                );
                transition: width 0.3s ease 0s, left 0.3s ease 0s;
                width: 0;
            }
            &:hover {
                color: $color-text-grey;
                &:after {
                    width: 100%;
                    left: 0;
                }
            }

            &.sign-up {
                &:after {
                    display: none;
                }
                @include buttonBlue;
            }
        }
    }
}
////////////
// HEADER //
////////////
.main-header {
    width: 100%;
    height: 100vh;

    padding-top: 130px;
    padding-bottom: 284px;
}
.header-wrapper {
    width: 50%;
}

.header-title__block {
    margin-bottom: 52px;

    color: $color-white;
    .sup-title {
        text-transform: uppercase;
        color: $color-text-grey;
        font-family: "Shapiro 55 Middle Extd";
        font-size: 0.75rem;
    }

    h1 {
        margin-bottom: 16px;

        font-family: "Shapiro 85 Super Heavy Wide";
        font-size: 3.34rem;
    }

    .sub-title {
        font-family: "Shapiro 45 Welter";
        font-size: 0.875rem;
        span {
            display: block;
        }
    }
}

.header-buttons__block {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 196px;
    .start-collection__btn {
        @include buttonBlue;
        margin-bottom: 27px;
    }

    .powered-by__block {
        display: flex;
        align-items: center;
        width: 85%;
        img {
            margin-right: 8px;
        }
        p {
            font-family: "Shapiro 45 Welter";
            font-size: 10px;
            color: $color-white;
        }
    }
}

.abstraction-img {
    position: absolute;

    width: 100%;
    height: 1162px;

    top: 100px;

    background-image: url("../img/abst-hd.png");
    background-position: 35% 100%;
    background-size: cover;

    z-index: -1;
}
.header-bg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    width: 100%;
    height: 100vh;
    background-image: url("../img/header-bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    opacity: 0.1;
    z-index: -3;
}

/////////////////
// MAIN CONTENT//
/////////////////
///////////////////////////
// HOW TO ACTION SECTION //
///////////////////////////
.how-to-action {
    position: relative;

    .how-toBg {
        position: absolute;

        top: 0;
        bottom: 0;
        left: 0;
        right: 0;

        width: 100%;
        height: auto;

        background-image: url("../img/how-to-action_BG.png");
        background-size: 100% 80%;
        background-repeat: no-repeat;

        background-position: center;

        opacity: 0.08;
        z-index: -5;
    }
}

.cards-list {
    margin-bottom: 83px;
    padding: 42px 56px 40px 56px;

    color: $color-white;

    background-color: #0b0b0c;
    border-radius: 12px;

    .card-item {
        display: flex;
        flex-direction: column;
        align-items: center;

        transition: all 0.3s;
        &:hover {
            transform: scale(1.1);
        }
        p {
            color: $color-white;
        }
        .card-sup__title {
            font-family: "Shapiro 55 Middle Extd";
            font-size: 0.75rem;
            color: $color-text-grey;
            text-transform: uppercase;
        }

        .card-title {
            font-family: "Shapiro 65 Light Heavy Wide";
            font-size: 2rem;
            text-transform: uppercase;
        }
    }

    // LOGGED PAGE //
    .card-logged {
        h3 {
            margin-bottom: 12px;

            font-family: "Shapiro 75 Heavy Wide";
            font-size: 2.375rem;
        }
        p {
            font-family: "Shapiro 45 Welter";
            font-size: 0.875rem;

            margin-bottom: 30px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    // LOGGED PAGE //
    .card-logged__img {
        display: flex;
        justify-content: flex-end;
    }
}

.how-to-action__title-block {
    text-align: center;
    margin-bottom: 92px;
    h2 {
        margin-bottom: 13px;
    }
    p {
        font-size: 0.875rem;
        color: $color-white;
        font-family: "Shapiro 45 Welter";
    }

    .all-packs__link {
        margin-top: 21px;
        @include buttonBlue;
        font-family: "Shapiro 75 Heavy";
        font-size: 0.875rem;
    }
}

.sets-block {
    display: grid;
    grid-template-columns: 1fr 0.6fr;
    height: auto;
    column-gap: 16px;

    .price {
        flex: 0 0 auto;
    }
}

.set {
    display: flex;
    flex-direction: column;

    color: $color-white;
    border-radius: 12px;

    h3 {
        margin-top: 20px;
        margin-bottom: 15px;
        font-family: "Shapiro 65 Light Heavy Wide";
        font-size: 37px;
        text-transform: uppercase;
        span {
            display: block;
        }
    }
    .set-state {
        padding: 5px 10px;

        font-family: "Shapiro 75 Heavy";

        font-size: 0.625rem;
        text-align: center;
        text-transform: uppercase;

        border-radius: 20px;
    }
    .set-img {
        -webkit-box-shadow: 0px 0px 26px 6px rgba(0, 0, 0, 0.38);
        box-shadow: 0px 0px 26px 6px rgba(0, 0, 0, 0.38);
        transform: rotate(15deg);
        transition: all 0.3s;
        &:hover {
            transform: scale(1.1);
        }
    }
}

.set-block {
    display: flex;
    justify-content: space-between;
    flex: 1 0 auto;
}

.set-one {
    position: relative;
    display: flex;

    width: 100%;
    height: auto;

    padding: 24px 26px 31px 26px;

    background: linear-gradient(
            180deg,
            rgba(112, 104, 150, 1) 20%,
            rgba(33, 162, 190, 1) 100%
    );

    overflow: hidden;
    .set-state {
        background: linear-gradient(
                90deg,
                rgba(28, 112, 222, 1) 0%,
                rgba(155, 72, 128, 1) 100%
        );
    }
    .set-one__txt {
        width: 60%;
        font-family: "Shapiro 45 Welter";
        font-size: 0.875rem;
        z-index: 1;
    }

    .set-one__img {
        display: flex;
        align-items: center;

        width: 40%;

        img {
            margin-top: 50px;
        }
    }

    .bg-txt {
        position: absolute;

        width: 405px;
        height: 480px;

        right: 0;
        top: -23px;
        background-image: url("../img/beatoken.png");
        background-repeat: repeat;
        z-index: 0;
    }
}

.set-two {
    position: relative;
    display: flex;

    width: 100%;
    height: auto;

    padding: 24px 2px 31px 26px;
    background-color: #0f0c30;

    overflow: hidden;
    .set-state {
        background-color: #d13a5a;
    }
    .set-two__txt {
        font-family: "Shapiro 45 Welter";
        font-size: 0.875rem;
        z-index: 1;
        width: 60%;
    }

    .set-two__img {
        display: flex;
        align-items: center;
        width: 40%;
        img {
            align-items: center;
            margin-top: 50px;
        }
    }
    .bg-txt {
        position: absolute;

        width: 260px;
        height: 480px;

        right: 0;
        top: -23px;
        background-image: url("../img/beatoken.png");
        background-repeat: repeat;
        z-index: 0;
    }
}

//////////////////////
// CAROUSEL SECTION //
//////////////////////
.section-carousel {
    padding-top: 155px;
    padding-bottom: 155px;
    .section-title {
        margin-bottom: 69px;
    }
}
.carousel-wrapper {
    width: 100%;
}

.prev,
.next {
    position: absolute;
    top: 10%;

    width: 34px;
    height: 34px;

    padding: 10px;

    z-index: 1;
    cursor: pointer;

    &:hover {
        border: 2px solid $color-white;
        border-radius: 50%;
    }
}

.next {
    right: -35px;
}

.prev {
    left: -35px;
}

.carousel {
    width: 80%;

    margin: 0 auto;
    color: $color-white;

    .slick-slide {
        display: flex;
        flex-direction: column;
        align-items: center;

        outline: none;

        .artist-img {
            width: 93.5px;
            height: 93.5px;

            margin-bottom: 20px;

            border-radius: 50%;
        }

        .artist-block {
            display: flex;
            align-items: center;
            .artist-name {
                margin-right: 6px;
                font-family: "Shapiro 55 Middle Extd";
                font-size: 1rem;
                text-transform: uppercase;
            }
            img {
                width: 20px;
                height: 20px;
            }
            // ///////////////////////////////////////////////////////////
            .artist-status {
                font-family: "Shapiro 55 Middle";
            }
            //////////////////////////////////////////////////////////////ПРОВІРИТИ
        }
        .artist-status {
            font-family: "Shapiro 55 Middle";
            font-size: 0.75rem;
            color: $color-text-grey;
        }
    }
}

//////////////////////////////
// SECTION START COLLECTION //
//////////////////////////////
.section-start-collection {
    padding-top: 75px;
    padding-bottom: 44px;

    border-bottom: 1px solid #707070;

    background-image: url("../img/start-collectionBG.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.section-border {
    // &.full-screen {
    //   flex-shrink: 0;
    // }
    width: 100%;
    height: 16px;
    background: linear-gradient(
            90deg,
            rgba(28, 112, 222, 1) 0%,
            rgba(155, 72, 128, 1) 62%,
            rgba(195, 60, 100, 1) 86%,
            rgba(220, 59, 84, 1) 100%
    );
}

.start-block {
    display: flex;
    justify-content: space-between;
}
.start-txt {
    margin-top: 45px;
    margin-bottom: 72px;
    h2 {
        margin-bottom: 14px;
    }
    p {
        font-family: "Shapiro 45 Welter";
        font-size: 0.875rem;
        color: $color-white;
    }
}

.start-button__block {
    .sign-up {
        margin-right: 14px;
        @include buttonBlue;
    }
    .login {
        padding: 7px 27px 10px;

        border: 2px solid $color-blue;

        font-size: 0.875rem;
        color: $color-white;

        border-radius: 25px;
        font-family: "Shapiro 75 Heavy";
    }
}

.start-img__block {
    img {
        width: 400px;
        height: 353px;
    }
}

////////////////////////
// SIGN-UP LOGIN PAGE //
////////////////////////
.enter-container {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 100%;
    height: 100vh;

    overflow: hidden;

    .how-toBg {
        position: absolute;

        width: 100%;
        height: 100vh;

        opacity: 0.1;
        z-index: -1;
    }
    .enter-main {
        flex: 1 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .enter-block {
        width: 57.5%;

        background-color: $color-white;

        border-radius: 20px;
        border-top: 4px solid #8b23e7;
        .enter-block__header {
            padding-top: 50px;
            padding-right: 55px;
            padding-left: 55px;
            margin-bottom: 38px;
        }
        .enter-block__body {
            display: flex;
            flex-direction: column;

            padding-right: 55px;
            padding-left: 55px;
            margin-bottom: 40px;

            .enter-title {
                margin-bottom: 38px;

                color: #4f3f71;
                font-size: 1.5rem;
                font-weight: 700;
            }
            .continue {
                display: flex;
                align-items: center;
                padding-left: 20px;
                padding-top: 20px;
                padding-bottom: 20px;

                border-radius: 8px;
            }
            .logo__img {
                display: flex;
                align-items: center;
                justify-content: center;

                width: 40px;
                height: 40px;

                margin-right: 15px;

                background-color: $color-white;
                border-radius: 50%;
            }
            .continue-google {
                margin-bottom: 20px;

                color: $color-white;
                font-weight: 500;

                background-color: #4285f4;
            }

            .using-email {
                margin-bottom: 20px;

                color: #4f3f71;
                font-weight: 500;

                background-color: #f8f8f8;
                border: 1px solid #eae8ed;
            }

            .already-have {
                margin-bottom: 40px;
                color: #a19ea9;
                text-decoration: underline;
            }

            .terms-privacy {
                font-size: 12px;
                color: #766f81;
                a {
                    color: #a19ea9;
                    text-decoration: underline;
                }
            }
        }

        .enter-block__footer {
            padding: 10px 55px 45px 55px;

            border-bottom-left-radius: 20px;
            border-bottom-right-radius: 20px;

            text-align: center;
            a {
                color: #766f81;
                font-weight: 500;
            }

            background-color: #f8f8f8;
        }
    }

    .section-border {
        flex-shrink: 0;
    }
}
/////////////////
// LOGGED PAGE //
/////////////////

.set-one__logged {
    background: #000;
    .bg-txt {
        top: 195px;
        height: 200px;
    }
    .set-state {
        background: #777e91;
    }
    .common {
        margin-top: 10px;
    }
}

.set-two__logged {
    background: #000;
}
.artist-section {
    padding-bottom: 88px;
}
.artist-row {
    &.row {
        margin-left: 0;
        margin-right: 0;
    }
    display: flex;
    justify-content: space-between;
}
.artist-block__img {
    width: 820px;
    height: 600px;
    background-image: url("../img/artist-img.jpg");
    background-position: center;
    background-repeat: no-repeat;
}

.artist-block__txt {
    color: $color-white;
    .artist-name {
        margin-bottom: 12px;

        font-family: "Shapiro 75 Heavy Wide";
        font-size: 2.375rem;
    }

    .artist-desc {
        width: 85%;
        font-family: "Shapiro 45 Welter";
        font-size: 0.875rem;
        margin-bottom: 50px;
    }

    .find-pack {
        @include buttonBlue;
    }
}
////////////////////
// DROP MAIN PAGE //
////////////////////
.how-to-action {
    &.drop {
        padding: 128px 0 134px;

        h2 {
            margin-bottom: 52px;
        }

        .how-toBg {
            background-size: 100% 100%;
        }
    }
}
////////////////////
// DROP JOIN PAGE //
////////////////////

.back-to-pack__section {
    padding: 24px 0 24px;
    background-color: #141416;

    border-bottom: 1px solid #353945;
    .back-to-pack__block {
        max-width: 165px;
        &.line {
            max-width: 171px;
        }
    }
    .back-to-pack__link {
        display: flex;
        align-items: center;

        padding: 7px 26px 11px 21px;
        font-family: "Shapiro 55 Middle";
        font-size: 0.875rem;
        color: $color-white;

        border: 2px solid #353945;
        border-radius: 20px;
        i {
            margin-right: 16px;
            font-size: 9px;
            color: #777e8f;
        }
    }
}
.drop-main__container {
    position: relative;
    overflow: hidden;
}
.drop-main__wrapper {
    // display: flex;
    // justify-content: space-between;
}

.drop-main__header {
    display: flex;
    justify-content: space-between;
    // width: 580px;
    // margin-bottom: 136px;

    &:before {
        content: "";
        background: linear-gradient(180deg, #706896 8%, #21a2be 100%);

        position: absolute;
        top: 0px;
        bottom: 0;
        left: 0;
        display: block;
        width: 100%;
        max-height: 640px;

        z-index: -1;
    }

    &:after {
        content: "";
        background-image: url("../img/beatoken.png");
        background-size: 900px;
        position: absolute;
        top: 0px;
        bottom: 0;

        right: -35%;
        display: block;
        width: 100%;
        max-height: 640px;

        z-index: -1;
    }

    .drop-header__img-block {
        padding: 90px 0 126px;
    }
}

.drop-main__aside {
    width: 500px;
    padding: 51px 52px 0 62px;

    background-color: #23262f;
    &:after {
        content: "";
        background-color: #23262f;

        position: absolute;
        top: 33.7%;
        bottom: 0;
        margin-left: -62px;
        display: block;
        width: 500px;
        height: 100%;

        z-index: 1;
    }
    .aside-title__block {
        padding-bottom: 16px;
        margin-bottom: 15px;
        border-bottom: 1px solid #353945;
        .set-state {
            font-family: "Shapiro 45 Welter Wide";
            font-size: 0.562rem;
            text-transform: uppercase;
            color: $color-white;

            border-radius: 100rem;

            padding: 1px 10px 3px;

            box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);
            border: solid 3px transparent;
            background-image: linear-gradient(
                    rgba(255, 255, 255, 0),
                    rgba(255, 255, 255, 0)
            ),
            linear-gradient(101deg, #1c70de, #dc3b54);
            background-origin: border-box;
            background-clip: content-box, border-box;
            box-shadow: 2px 1000px 1px #23262f inset;
        }
        .aside-pack__title {
            margin-top: 10px;
            margin-bottom: 10px;
            line-height: 44px;
            font-family: "Shapiro 65 Light Heavy Wide";
            font-size: 3.125rem;
            color: $color-white;
        }
        .total-for-sale {
            margin-bottom: 10px;

            font-family: "Shapiro 55 Middle";
            font-size: 1.125rem;
            color: #777e91;
        }

        .pack-desc {
            font-family: "Shapiro 55 Middle";
            font-size: 1.125rem;
            color: $color-white;
        }
    }
    .aside-count__block {
        padding-bottom: 16px;
        margin-bottom: 15px;
        border-bottom: 1px solid #353945;

        .pack-sum {
            display: flex;
            justify-content: space-between;

            font-family: "Shapiro 55 Middle";
            font-size: 1.125rem;
            color: #777e91;

            .pack-sum-left {
                span {
                    padding-right: 5px;
                }
                color: #d13a5a;
            }
        }
        .pack-price {
            font-family: "Shapiro 95 Super";
            font-size: 1.875rem;
            color: $color-white;
            margin-bottom: 37px;
        }
        .quantity-container {
            display: flex;
            align-items: center;
            justify-content: space-between;
            .quantity {
                font-family: "Shapiro 55 Middle";
                font-size: 1.125rem;
                color: #777e91;
            }
            margin-bottom: 22px;
        }
        .quantity-input__block {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 153px;
            padding: 10px 10px;
            background-color: #353945;
            border-radius: 30px;
            &.sum {
                justify-content: center;
                color: $color-white;
                font-family: "Shapiro 75 Heavy";
                font-size: 1.125rem;
            }
            .input-button {
                font-size: 0.875rem;
                color: #777e91;

                cursor: pointer;
            }

            .input-quantity {
                width: 50px;
                display: block;
                padding-left: 20px;
                font-family: "Shapiro 75 Heavy";
                font-size: 1.125rem;
                color: $color-white;

                border: none;
                background: none;
                outline: none;
            }
            // input {
            //   width: 30px;
            //   // padding-left: 15px;
            //   // padding-right: 15px;
            // }
        }
        .join-button {
            width: 100%;
            @include buttonBlue;
            padding-top: 10px;
            padding-bottom: 12px;

            font-size: 1.062rem;

            border: none;
        }
    }

    .aside-logo__block {
        display: flex;
        align-items: center;

        padding-bottom: 15px;
        img {
            margin-right: 10px;
        }
        .logo-txt {
            span {
                font-family: "Shapiro 55 Middle";
                font-size: 1rem;
                color: #777e91;
            }
            p {
                font-family: "Shapiro 55 Middle Extd";
                font-size: 1.125rem;
                color: $color-white;

                text-transform: uppercase;
            }
        }
    }
}

.drop-details__block {
    max-width: 570px;
    margin-bottom: 136px;
    font-family: "Shapiro 55 Middle";
    font-size: 1.125rem;
    color: $color-white;
    .details-block__title {
        padding: 15px 47px 26px;
        margin-bottom: 31px;

        font-family: "Shapiro 65 Light Heavy Wide";
        font-size: 2.312rem;

        background-color: #23262f;
    }
    .details-desc__block {
        padding-left: 20px;

        .txt {
            margin-bottom: 25px;
        }
    }
    .details-desc__title {
        margin-bottom: 30px;
    }
}

///////////////////////
// SECTION OPEN PACK //
///////////////////////
.section-open-packs {
    padding: 66px 0 82px;
    text-align: center;

    border-bottom: 1px solid #707070;
    h2 {
        margin-bottom: 57px;
    }
}

.open-packs__block {
    text-align: center;
    color: $color-white;

    h3 {
        margin-bottom: 7px;
        font-family: "Shapiro 75 Heavy";
        font-size: 1.062rem;
    }
    p {
        font-family: "Shapiro 45 Welter";
        font-size: 0.875rem;
    }
    a {
        color: #55b7ce;
        text-decoration: underline;
    }
}

.drop-full__screen-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 0 auto;

    &.count {
        position: relative;
        overflow: hidden;
        align-items: flex-start;
        &:before {
            content: "";
            background: linear-gradient(180deg, #706896 8%, #21a2be 100%);

            position: absolute;
            top: 0px;
            bottom: 0;
            left: 0;
            display: block;
            width: 100%;
            max-height: 100%;

            z-index: -2;
        }

        &:after {
            content: "";
            background-image: url("../img/beatoken.png");
            background-repeat: repeat;
            background-size: 800px;

            position: absolute;
            top: 0px;
            bottom: 0;
            left: 25%;
            right: -35%;
            display: block;
            width: 100%;
            max-height: 900px;

            z-index: -1;
            opacity: 1;
        }
    }

    &:after {
        content: "";
        background-image: url("../img/how-to-action_BG.png");
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        top: 0px;
        bottom: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100vh;
        z-index: -1;
        opacity: 0.1;
    }

    .open-block {
        display: flex;
        flex-direction: column;

        align-items: center;

        img {
            margin-bottom: 57px;
            width: 307px;
            height: 363px;
        }
        a {
            @include buttonBlue;
        }
    }
}

.drop-count__container {
    display: flex;
    flex-direction: column;
    padding: 20px 60px 0 60px;
    width: 50%;
    min-height: calc(100vh - 108px);
    background-color: #23262f;
    .drop-count-wrapper {
        flex: 1 0 auto;
    }
    .drop-count__logo-block {
        display: flex;
        padding-bottom: 16px;

        border-bottom: 2px solid #353945;
        .img-logo {
            margin-right: 10px;
        }
    }

    .drop-count__title-block {
        padding-bottom: 16px;

        border-bottom: 2px solid #353945;
        h3 {
            margin-top: 10px;
            margin-bottom: 10px;
            font-family: "Shapiro 65 Light Heavy Wide";
            font-size: 1.625rem;
            color: $color-white;
        }
        .pack-sale {
            margin-bottom: 10px;
            font-family: "Shapiro 55 Middle";
            font-size: 0.75rem;
            color: $color-text-grey;
            span {
                margin-right: 5px;
            }
        }
        .pack-desc {
            font-family: "Shapiro 55 Middle";
            font-size: 1rem;
            color: $color-white;
        }
    }
    .drop-count__progress-block {
        margin-top: 20px;
        margin-bottom: 20px;
        width: 100%;
        height: 6px;

        background-color: #1c70de;
    }
    .drop-count__count-block {
        display: flex;
        align-items: center;
        flex-direction: column;
        padding-bottom: 16px;

        border-bottom: 2px solid #353945;
        img {
            padding-top: 20px;
            padding-bottom: 20px;

            width: 208px;
            height: 293px;
        }
        .event-start {
            margin-bottom: 20px;
            font-family: "Shapiro 65 Light Heavy";
            font-size: 1rem;
            color: $color-white;
            span {
                margin-left: 10px;
            }
        }
        .user-in-line {
            margin-top: 20px;
            margin-bottom: 10px;

            font-size: 1rem;
            color: $color-white;
        }

        .event-timer__block {
            width: 100%;
            padding: 0 32px 15px 32px;
            padding-bottom: 15px;
            margin-bottom: 20px;
            border-radius: 40px;
            background-color: #353945;
            .in-line {
                display: flex;
                justify-content: space-around;

                font-family: "Shapiro 95 Super";
                font-size: 2.812rem;
                color: $color-white;
            }
            .timer {
                display: flex;
                justify-content: space-around;
                // align-items: flex-end;
                // width: 80%;
                font-family: "Shapiro 95 Super";
                font-size: 2.812rem;
                color: $color-white;
                span {
                    margin-left: 10px;
                    font-family: "Shapiro 65 Light Heavy Wide";
                    font-size: 1.625rem;
                }
            }
        }
        .status-update {
            font-family: "Shapiro 55 Middle";
            font-size: 1.125rem;
            color: $color-text-grey;
            span {
                padding-left: 5px;
                padding-right: 5px;
            }
        }
    }
    .message-updated__block {
        padding: 16px 36px 26px;
        margin-top: 10px;
        margin-bottom: 40px;

        font-family: "Shapiro 35 Feather";
        font-size: 1rem;
        color: $color-white;
        background-color: #1c70de;
        border-radius: 10px;
        .message-update__title {
            margin-bottom: 10px;
        }
    }
    .live-line__block {
        width: 100%;
        text-align: center;
        .live-line__link {
            align-self: center;
            font-family: "Shapiro 75 Heavy";
            font-size: 0.875rem;
            text-transform: uppercase;
            color: $color-white;
            border-bottom: 2px solid $color-white;
        }
    }
}

.queue-id {
    flex-shrink: 0;
    margin-top: 150px;
    margin-bottom: 5px;
    font-family: "Shapiro 55 Middle";
    font-size: 1.125rem;
    color: $color-text-grey;
    span {
        margin-left: 5px;
    }
}

.open-container__title {
    margin-top: 27px;
    p {
        font-family: "Shapiro 55 Middle";
        font-size: 0.75rem;
        color: $color-text-grey;
        span {
            margin-left: 5px;
        }
    }
    h3 {
        margin-top: 16px;
        margin-bottom: 5px;

        font-family: "Shapiro 65 Light Heavy Wide";
        font-size: 2.312rem;
        color: $color-white;
    }
}

.drop-redirect {
    font-family: "Shapiro 65 Light Heavy Wide";
    font-size: 2.187rem;
    color: $color-white;

    text-align: center;
}

///////////////////
// SECTION PACKS //
///////////////////
.section-packs {
    padding: 63px 0 94px;
    background-color: $color-dark-black;
    .packs-title {
        margin-bottom: 48px;
        color: $color-white;
    }
}

.featured-packs {
    margin-bottom: 94px;
}

.previous-packs {
    .packs-title {
        .section-drop-title {
            margin-bottom: 5px;
        }
    }
    p {
        max-width: 447px;
        font-family: "Shapiro 45 Welter";
        font-size: 0.875rem;
    }

    .button-block {
        display: flex;
        justify-content: center;
        .view-more {
            position: relative;

            padding: 0;

            font-family: "Shapiro 75 Heavy";
            font-size: 0.875rem;
            color: $color-white;

            text-transform: uppercase;

            background: none;
            border: none;
            &:after {
                position: absolute;
                bottom: -5px;
                right: 0;
                left: 0;

                content: "";
                width: 100%;
                height: 2px;
                background-color: $color-white;
            }
        }
    }
}

.packs-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 33px;
    &.previous-list {
        margin-bottom: 57px;
    }
}

.pack-item {
    padding: 27px 16px 16px 16px;
    background-color: #000;
    border-radius: 12px;
    color: $color-white;
    &:last-child {
        margin-right: 0;
    }
    .img-pack {
        display: flex;
        justify-content: center;

        margin-bottom: 40px;
    }
    .pack-title {
        margin-bottom: 5px;
        font-family: "Shapiro 75 Heavy Wide";
        font-size: 0.875rem;
        text-transform: uppercase;
    }

    .pack-set {
        display: block;
        margin-bottom: 24px;

        font-family: "Shapiro 55 Middle";
        font-size: 0.75rem;
        color: $color-text-grey;
    }

    .pack-price {
        font-family: "Shapiro 95 Super";
        font-size: 1rem;
        padding-bottom: 10px;
        border-bottom: 1px solid #353945;
    }

    .pack-quantity {
        margin-top: 5px;

        font-family: "Shapiro 55 Middle";
        font-size: 0.75rem;

        &.left {
            color: $color-text-grey;
        }
        &.sold {
            color: #d13a5a;
        }
    }
}

////////////
// FOOTER //
////////////
.footer {
    padding-top: 69px;
}

.footer-row {
    display: flex;
    justify-content: space-between;

    padding-bottom: 46px;
    border-bottom: 1px solid #707070;
}

.footer-column {
    color: $color-white;
    .footer-links__title {
        display: flex;
        justify-content: space-between;
        margin-bottom: 39px;
        font-family: "Shapiro 55 Middle Extd";

        font-size: 0.75rem;
        text-transform: uppercase;

        .icon-down-open {
            display: none;
            color: #777e8f;
        }
    }

    .footer-links {
        display: flex;
        flex-direction: column;
        a {
            margin-bottom: 21px;
            font-family: "Shapiro 55 Middle";
            font-size: 0.812rem;
            color: $color-text-grey;
        }
    }
}

.footer-join__block {
    width: 356px;
    .form-label {
        font-family: "Shapiro 55 Middle";
        font-size: 0.875rem;
        margin-bottom: 26px;
    }
    .input-block {
        position: relative;
    }
    .newsletter {
        padding: 12px 10px 16px 24px;
        font-family: "Shapiro 55 Middle";
        font-size: 0.875rem;
        color: $color-white;
        background-color: #141416;
        border: 2px solid #707070;
        border-radius: 30px;
        &:focus {
            outline: none;
            box-shadow: none;
        }
        &::placeholder {
            font-family: "Shapiro 55 Middle";
            font-size: 0.875rem;
            color: $color-white;
        }
    }

    .btn {
        position: absolute;
        top: 20%;
        right: 10px;
        padding: 10px 8px;
        border-radius: 50%;
        img {
            width: 14px;
            height: 9px;
        }
    }
}

.copyright {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 33px;
    color: $color-text-grey;
    font-family: "Shapiro 55 Middle Extd";
    font-size: 0.75rem;
    .accept {
        display: flex;
        color: $color-white;
        p {
            margin-right: 14px;
        }
    }
}
@import "mobile";
