// Widescreens
@include mediaXl {
    .sets-block {
        grid-template-columns: 1fr 1fr;
        overflow-x: auto;
    }

    .set-one {
        .bg-txt {
            width: 250px;
        }
        img {
            margin-left: 0;
        }
    }
    .set-two {
        .bg-txt {
            width: 250px;
        }
        .set-two__img {
            img {
                width: 158px;
                height: 231px;
            }
            .set-img {
                width: 190px;
                height: 224px;
            }
        }
    }

    .packs-list {
        overflow-x: auto;
        .pack-item {
            width: 256px;
        }
    }

    .drop-count__container {
        width: 60%;
    }
}

// Desktops & laptops
@include mediaLg {
    .container {
        width: 100%;
    }

    .nav-icon {
        display: block;
    }

    .nav-collapse {
        // display: none;
        position: fixed;
        top: 0;
        left: -1000px;

        align-items: flex-start;
        // flex-direction: column;

        width: 100%;
        height: 100vh;

        background-color: #141416;
        transition: 0.5s ease-in;
        z-index: 10;
        &.nav-active {
            left: 0;
        }

        .nav-collapse__main {
            // height: 100vh;
            justify-content: space-between;
            flex-direction: column;
            align-items: flex-start;
            padding: 50px 0 45px 50px;
        }

        .nav-collapse__button-close {
            display: flex;
            // align-items: center;
            width: 69px;
            height: 100vh;

            padding-top: 50px;

            background-color: #0b0b0c;
        }
    }

    .navbar {
        background-color: #0b0b0c;
        align-items: flex-start;
        // height: 100vh;
        .nav-container {
            justify-content: space-between;
        }
        .navbar-brand {
            border-right: none;
            .text-logo {
                display: none;
            }
        }
    }

    .navbar-list {
        flex-direction: column;
        align-items: flex-start;
        .user-avatar__item-menu {
            .user-dropdown__menu {
                right: unset;
                border-bottom-right-radius: 0;
                border-bottom-left-radius: 0;
                &:before {
                    left: 10px;
                }
            }
        }
        &.main {
            margin-left: 0;
            .nav-item {
                margin-right: 0;
                margin-bottom: 20px;
                .nav-link {
                    font-family: "Shapiro 75 Heavy Wide";
                    font-size: 1.25rem;
                    color: $color-white;
                }
            }
        }

        &.registration {
            align-items: flex-start;
            .nav-item {
                margin-right: 0;
                margin-bottom: 20px;
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }

    .set-one {
        width: 476px;
        .set-one__img {
            width: 40%;
            // justify-content: flex-end;
            img {
                // width: 128px;
                // height: 201px;
            }
        }
        .set-one__txt {
            width: 60%;
        }
        .bg-txt {
            width: 150px;
            height: 680px;
        }
    }

    .set-two {
        width: 476px;
        .bg-txt {
            width: 150px;
            height: 680px;
        }
    }

    .footer {
        padding-top: 0;
    }

    .footer-row {
        flex-direction: column;
        .footer-logo__block {
            display: flex;
            justify-content: center;
            width: 100%;
            padding: 90px 0 80px;

            border-bottom: 1px solid #353944;
        }

        .footer-join__block {
            margin-top: 25px;
        }

        .footer-column {
            padding-top: 32px;
            padding-bottom: 32px;
            border-bottom: 1px solid #353944;
            &:last-child {
                border-bottom: none;
            }

            .footer-links__title {
                .icon-down-open {
                    display: block;
                }
            }
            .footer-links__btn {
                cursor: pointer;
            }
            .footer-links {
                display: none;
                &.open {
                    display: flex;
                }
            }
        }
    }
    .how-to-action {
        &.drop {
            padding: 31px 0 45px;
        }
    }
    .open-packs__block {
        text-align: left;
        margin-bottom: 26px;
    }

    .drop-main__header {
        flex-direction: column;
        .drop-header__img-block {
            display: flex;
            justify-content: center;
        }
    }

    .drop-main__aside {
        width: 100%;
        margin-bottom: 40px;
        &:after {
            display: none;
        }
    }
    .drop-details__block {
        max-width: 100%;
    }

    .drop-count__container {
        width: 80%;
    }

    .copyright {
        justify-content: center;
        .accept {
            display: none;
        }
        font-size: 0.5rem;
    }
}

// Tables & small laptops
@include mediaMd {
    .section-title {
        font-size: 2rem;
    }
    .header-wrapper {
        width: 100%;
    }
    .header-title__block {
        h1 {
            font-size: 2.5rem;
        }
    }

    .container {
        &.sets-block__container {
            padding: 0;
        }
    }
    .set {
        width: 409px;
    }
    .set-block {
        flex-direction: column;
    }
    .set-one {
        .bg-txt {
            width: 150px;
            height: 620px;
        }

        .set-one__img {
            width: 100%;
            img {
                margin-left: 70px;
                margin-bottom: 50px;
            }
        }
        .set-one__txt {
            width: 100%;
        }
    }

    .set-two {
        .bg-txt {
            width: 150px;
            height: 620px;
        }

        .set-two__img {
            width: 100%;
            img {
                margin-left: 70px;
                margin-bottom: 50px;
            }
        }
        .set-two__txt {
            width: 100%;
        }
    }

    .cards-list {
        padding: 50px 10px;
        .card-list__block {
            margin-bottom: 50px;
            &:last-child {
                margin-bottom: 0;
            }
        }
        .card-item {
            .card-title {
                font-size: 1.5rem;
            }
        }
    }

    .card-logged {
        margin-bottom: 25px;
    }

    .start-txt__block {
        text-align: center;
    }
    .start-img__block {
        display: none;
    }
    .start-block {
        justify-content: center;
    }

    .enter-container {
        .enter-block {
            width: 78%;
        }
    }

    .artist-block__img {
        margin-bottom: 35px;
    }

    .section-open-packs {
        h2 {
            text-align: left;
        }
    }
    .drop-count__container {
        width: 100%;
        padding: 20px 20px 0 20px;
        .drop-count__count-block {
            img {
                width: 150px;
                height: 190px;
            }

            .event-timer__block {
                padding-bottom: 10px;
                margin-bottom: 5px;
                .timer {
                    font-size: 1.8rem;
                }
            }
            .status-update {
                font-size: 0.8rem;
            }
        }
        .queue-id {
            font-size: 1rem;
        }
    }
}

// Smartphones
@include mediaSm {
    .set {
        width: 309px;
    }
    .set-one {
        .set-one__img {
            .set-img {
                margin-left: 50px;
            }
        }

        .bg-txt {
            width: 80px;
            height: 680px;
        }
    }

    .set-two {
        .set-two__img {
            .set-img {
                margin-left: 50px;
            }
        }
        .bg-txt {
            width: 80px;
            height: 680px;
        }
    }

    .enter-container {
        .enter-block {
            width: 98%;
        }
    }

    .drop-full__screen-wrapper {
        .open-block {
            img {
                width: 207px;
                height: 263px;
            }
        }
    }
    .open-container__title {
        h3 {
            font-size: 1.5rem;
        }
    }
    .drop-main__aside {
        padding: 51px 10px 0 10px;
    }
    .drop-details__block {
        .details-block__title {
            padding: 15px 10px 26px;
        }
    }

    .drop-count__container {
        .drop-count__title-block {
            h3 {
                font-size: 1.2rem;
            }
        }
        .drop-count__count-block {
            .user-in-line {
                margin-top: 0;
            }
            .event-timer__block {
                .in-line {
                    font-size: 1.8rem;
                }
            }
        }
        .message-updated__block {
            padding: 16px 10px 26px;
        }
    }
}
