@import "main";

.full-screen {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.flex,  .flex-center{
    display: flex;
    align-items: center;
}

.flex-center {
    justify-content: center;
}

.carousel {
    .slick-slide {
        .carousel-item {
            display: flex !important;
            align-items: center;
            flex-direction: column;
            justify-content: center;
        }
    }
}

.input-black {
    padding: 12px 10px 16px 24px;
    font-family: "Shapiro 55 Middle";
    font-size: 0.875rem;
    color: #fff;
    background-color: #141416;
    border: 2px solid #707070;
    border-radius: 30px;
}

.user-avatar__link {
    cursor: pointer;
}
