
.icon-down-open:before { content: '\e800'; } /* '' */
.icon-btn-close:before { content: '\e801'; } /* '' */
.icon-nav:before { content: '\e802'; } /* '' */
.icon-arrow-left:before { content: '\e803'; } /* '' */
.icon-arrow-right:before { content: '\e804'; } /* '' */
.icon-minus:before { content: '\e806'; } /* '' */
.icon-plus-1:before { content: '\e807'; } /* '' */